body{
    margin: 0;
    padding: 0;
    display: flex;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#picContainer{
    display: flex;
    justify-content: space-evenly;
}
#keyContainer{
    display: flex;
    justify-content: space-evenly;
}
.drumImg{
    width: 100px;
    cursor: pointer;
}

.drumLabel {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}